# Definition of the projects providing ground-based observations
# 
# Location: 
# Name should be a single-column string, no spaces
# Latitude and longitude should be specified in decimal degrees, S and W are negative. 
# Altitude in m


# ObservingProject    Location[Name, lat,long(deg),alt(m)]    Bandpass	  Cadence[hrs] 	  ObservingPeriods    	      	      	      	  DataProduct
K2    	      	    |  Space   	  | NA	     |NA	 | NA	 | Optical    |  0.5	  | 2016-04-07_2016-05-18, 2016-05-22_2015-07-02  | Photometry
OGLE  	      	    |  Chile   	  |-29.0146  |-70.6926   | 2380  | Optical    |  0.5	  | 2016-04-07_2016-06-18, 2016-06-22_2015-07-02  | Photometry
MOA   	      	    |  NZ	  | -43.98667| 170.4650  |  1965 | Optical    |  0.5	  | 2016-04-07_2016-06-18, 2016-06-22_2015-07-02  | Photometry
LCOGT               |  Chile	  | -30.1674 | -70.8048  |  2198 | Optical    |  3.5	  | 2016-04-07_2015-07-02			  | Photometry
LCOGT 	      	    |  SouthAfrica| -32.38   | 20.8100   |  1460 | Optical    |  3.5	  | 2016-04-07_2015-07-02			  | Photometry
LCOGT 	      	    |  Australia  | -31.2733 |149.071	 |  1116 | Optical    |  3.5	  | 2016-04-07_2015-07-02			  | Photometry
Skymapper     	    |  Australia  | -31.2733 |149.071	 |  1116 | Optical    |  0.08	  | 2016-04-07_2016-06-18, 2016-06-22_2015-07-02  | Photometry
VVV   	      	    |  Chile	  | -24.61583| -70.3975  |  2518 | NIR        |  4.0	  | 2016-04-07_2015-07-02			  | Photometry
UKIRT 	      	    |  Hawaii  	  | 19.8205  |-155.4681  |  4207 | NIR        | 4.0	  | 2016-04-07_2015-07-02			  | Photometry
CFHT  	      	    |  Hawaii	  | 19.8205  |-155.4681  |   4207|  NIR       |  8.0	  | 2016-04-07_2015-07-02			  | Photometry
DECam 	      	    |  Chile	  | -30.1674 |-70.8048   |  2198 | Optical    |  0.08	  | 2016-06-22_2015-07-02			  | Photometry
VST   	      	    |  Chile	  | -24.61583| -70.3975  |  2518 | Optical    |  0.3	  | 2016-04-07_2015-07-02			  | Photometry
WIYN  	      	    |  USA	  | 31.9575  |-111.6008  |   2096|  Optical   |   0.3	  | 2016-06-07_2015-07-02			  | Photometry
LaSillaQuest  	    |  Chile	  | -24.61583| -70.3975  |  2518 | Optical    |  0.08	  | 2016-04-07_2015-07-02			  | Photometry
CTIO1.3       	    |  Chile	  | -30.1674 | -70.8048  |  2198 | Optical+NIR| Targeted  | 2016-04-07_2015-07-02			  | Photometry
IRTF  	      	    |  Hawaii	  | 19.8205  |-155.4681  |   4207|  NIR       |  Targeted | 2016-04-07_2015-07-02			  | Photometry
LT    	      	    |  LaPalma    | 28.76234 |17.87925   |  2363 | Optical+NIR| Targeted  | 2016-04-07_2015-07-02			  | Photometry
